 .badge{
    width:20px;
    height: 20px;
    background-color: tomato;
    color:white;
    font-weight: 500;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
 }